*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins','Open Sans', 'verdana-bold' , 'Nunito Sans'sans-serif;
    box-sizing: border-box;
}
.hero{
    height: 100vh;
    width: 100%;
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-position: center;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0;
    background: rgba(0, 0 ,0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50;
    padding: 10px 90px;
    box-sizing: border-box;
    border-bottom: 1px solid 4F51A2;
    margin: 0;
    font-family: 'verdana-bold';

}
.logo{
    color: mediumpurple ;
    float: right;
    font-size: 17px;
    letter-spacing: 1px;
    cursor: pointer;
    margin-top: 5;
    margin-bottom: 0%;
    font-family: 'verdana-bold';
    left: 10;
}
nav ul li{
    list-style-type: none;
    float: left;
    display: flex;
    padding: 10px 30px;
    margin-bottom: 0;
    font-family: 'verdana-bold';
}
nav ul li a{
    color: white;
    text-decoration: none;
    border-radius: 6px;

}
nav ul li a:hover{
    color:purple;
    background: rgba(0,0,0,0,7);
    transition: .4s;
}
.content{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}
h1{
    color: white;
    margin-top: 0x;
    margin-bottom: 10x;
    font-size: 60px;
}
span{
    font-size: 55px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Nunito Sans'
}
h3{
    color: white;
    font-size: 17x;
    margin-bottom: 50px;
    font-family: 'open sans';
}
h4{
    color: rgba(183, 183, 255);
    font-size: 20px;
    letter-spacing: 2px;
}
.share{
    position: absolute;
    top: 90%;
    left: 8%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
}
.share p{
    font-size: 17px;
    color: white;
    margin-right: 30px;
}
.share .social a{
    display: inline-block;
    color:white;
    margin-right: 15px;
    transition: transform .3s;
}
.share .social a:hover{
    transform: scale(1.6);
}
.about{
    width: 100%;
    padding: 100px 0px;
    background-color: #232363;
    background-size: cover;
    background-position: center;
}
.about img{
    height: 400px;
    width: 400px;
    border-radius: 50%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.about text{
    width: 500px;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h2{
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 0px;
}
.about-text h5{
    color: white;
    letter-spacing: 2px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.about-text p{
    color: white;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}
.service{
    width: 100%;
    padding: 100px 0px;
    background-color: #4F51A2;
    background-size: cover;
    background-position: center;
}
.title h2{
    color: white;
    font-size: 75px;
    margin: 30px auto;
    margin-top: 115px;;
    text-align: center;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}
.card{
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background: #4F51A2;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.card i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: white
}
h5{
    color: white;
    font-size: 23px;
    margin-bottom: 15px;
}
.pra p{
    color: white;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}
.button{
    background-color:white;
    color:  mediumpurple;
    text-decoration: none;
    border: 2px soild transparent;
    font-weight: bold;
    padding: 9px 30px;
    border-radius: 30px;
    transition: .4s;
}
.end{
    position: bottom;
    color: white;
    bottom: 35px;
    font-size: 14px;
    margin-top: 1%;
    margin-bottom: 0;
    text-align: center;
}
/* discord.html */
.logos{
    color: mediumpurple ;
    float: right;
    font-size: 17px;
    letter-spacing: 1px;
    cursor: pointer;
    margin-top: 5;
    margin-bottom: 0%;
    font-family: 'verdana-bold';
    left: 10;
}
.discord{
    height: 100vh;
    width: 100%;
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-position: center;
}
.boxs{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}
.boxs img{
    width: 400px;
    clip-path: circle();
    position: absolute;
    margin-top: 20%;
    margin-bottom: 25%;
}
.cards{
    height: 200px;
    width: 25%;
    padding: 20px 35px;
    background: white;
    border-radius: 20px;
    margin-top: 45%;
    position: relative;
    overflow: hidden;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.cards h5{
    color:orange
}
.buttons{
    color:  mediumpurple;
    text-decoration: none;
    border: 2px soild transparent;
    font-weight: bold;
    padding: 9px 30px;
    border-radius: 30px;
    transition: .4s;
    margin-top: 5px;
}
.end{
    margin-top: 10px;
}